/ConsoleApp/.vs
/ConsoleApp/Day5InClass/bin
/ConsoleApp/Day5InClass/obj
/ConsoleApp/Day6InClass/bin
/ConsoleApp/Day6InClass/obj
/ConsoleApp/Day7InClass/bin
/ConsoleApp/Day7InClass/obj
/ConsoleApp/Day8InClass/bin
/ConsoleApp/Day8InClass/obj
/ConsoleApp/Day9InClass/bin
/ConsoleApp/Day9InClass/obj
/ConsoleApp/Day5/bin
/ConsoleApp/Day5/obj
/ConsoleApp/Day6/bin
/ConsoleApp/Day6/obj
/ConsoleApp/Day7/bin
/ConsoleApp/Day7/obj
